:root{
    --white: #FFFFFF;
    --black: #000000;
    --dark: #232830;
    --text-input-field: #F7F7F7;
    --very-light-pink: #C7C7C7;
    --hospital-green: #ACD9B2;
}
html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}
body{
    margin: 0;
    font-size: 1.4rem;
    font-family: 'Quicksand', sans-serif;
}
main {

}
.container {
    position: absolute;
    right: 0;
    width: 340px;
    height: 100vh;
}
.main-product {
    position: relative;
    width: 340px;
    height: 340px;
    margin: 0;
}
.main-product img:nth-child(1) {
    width: 340px;
    height: 340px;
    object-fit: cover;
    border-radius: 0 0 16px 16px;
}
.main-product img:nth-child(1):hover {
    cursor: pointer;
}
.main-product .close {
    position: absolute;
    width: 20px;
    padding: 6px;
    background-color: white;
    border-radius: 50%;
    top: 5%;
    left: 10%;
}
figure > div {
    position: absolute;
    top: 95%;
    right: 45%;
    font-weight: bold;
    color: var(--very-light-pink);
    font-size: 48px;

}
p {
 margin-left: 12px;
}
.container .price {
    margin-top: 36px;
    margin-bottom: 0;
    font-size: 1.8rem;
    font-weight: bold;
}
.container .name {
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 1.6rem;
    color: var(--dark);
}
.container .description {
    margin-bottom: 60px;
}
.container .addCart {
    display: flex;
    justify-content: center;
    height: 60px;
    width: 95%;
    background-color: var(--hospital-green);
    margin-top: 50px;
    margin: 0 auto;
    border-radius: 12px;
}
.addCart img {
    display: absolute;
    width: 30px;
}
.addCart button {

    background-color: var(--hospital-green);
    border: none;

}
.addCart button a {
    display: inline-block;

    
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--white);
    font-weight: bold;
    text-align: center;
}
.cards-container {
    --card-size: 140px;
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--card-size));
    justify-content: center;

    gap: 16px;
    margin-top: 8px;
}
.product-card {
    width: var(--card-size);
}
.product-card_down {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4px;
}
p {
    margin: 0;
}
.product-card_down div p:nth-child(1) {
    font-weight: bold;

}
.product-card_down div p:nth-child(2){
    color: var(--very-light-pink);

}
.product-card img {
    width: var(--card-size);
    height: var(--card-size);
    border-radius: 20px;
    object-fit: cover;
}
figure {
    margin: 0;
    align-self: center;
}
.icon img {
    width: 40px;
    height: 40px;
    margin: 0;
}


/* header */

.nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    border-bottom: 2px solid var(--text-input-field);
    
}
.nav .menu {
    display: none;
}
.nav-left {
    display: flex;
    align-items: center;
    margin-left: 50px;
}
.nav .logo img{
    height: 32px;
    margin-left:;
}
.nav .options {
    display: flex;
}
.nav .options li {
    list-style: none;
}
.nav .options li a {
    text-decoration: none;
    color: var(--very-light-pink);
    font-weight: 500;
    font-size: 1.6rem;
    padding: 8px;
}
.nav .options li a:hover {
    height: 40px;
    width: 40px;
    border: 1px solid var(--hospital-green);
    border-radius: 12px;
    color: #ACD9B2;
}
.nav-right {
    display: flex;
    align-items: center;
    
    margin-right: 50px;
    
}
.nav-right > p {
    display: inline-block;
}
.nav-right .signin {
    display: block;
    text-decoration: none;
    color: var(--hospital-green);
    font-weight: 500;
    padding: 0 28px;
    margin-left: 12px;
    
    
}
.nav-right .cart {
    position: relative;
    
}
.nav-right .cart .numbers {
    position: absolute;
    top: -2px;
    right: 14%;
    font-size: 1rem;
    font-weight: bold;
}

@media (max-width:840px) {
    header .nav {
        height: 44px;
        align-items: center;
    }
    .nav .menu {
        display: inline-block;
        margin-left: 16px;
        
    }
    .nav-left {
        margin-left: 0;
    }
    .nav .menu img {
        
    }
    .nav .options {
        display: none;
    }
    .nav-right {
        margin-right: 16px;
    }
    .nav-right .signin {
        display: none;
    }
}

@media (max-width:440px){
    
    
    .container {
        
        width: 100%;
        
    }
    .main-product {
        
        width: 100%;
    }
    .main-product img:nth-child(1) {
        width: 100%;
    }
}
@media (min-width: 600px) {
.cards-container{
    --card-size: 240px;  
} 
}